<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History | URL Shortener</title>
    <!--  Essential META Tags -->
    <meta property="og:title" content="<%= titel %>">
    <meta property="og:type" content="<%= type %>">
    <meta name="keywords" content=<%=keywords %>>
    <meta name="author" content="<%= author %>">
    <meta property="og:image" content="<%= image_url %>">
    <meta property="og:url" content="<%= page_url %>">
    <meta name="twitter:card" content="<%= twiter_summary %>">
    <!-- For favicon -->
    <link rel="shortcut icon" href="/images/url_logo.png" type="image/png">
    <!-- Navigation CSS -->
    <link rel="stylesheet" href="/css/navigation.css">
    <!-- Global Css -->
    <link rel="stylesheet" href="/css/global.css">
    <!-- History CSS -->
    <link rel="stylesheet" href="/css/history.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4610789fe2.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../shared/navigation', {path: "/history" }) -%>
        <main>
            <div>
                <div class="container">
                    <!-- For Showing Statistics -->
                    <div class="statistics">
                        <div>
                            <!-- For don't have any content -->
                             <p id="noLinkSelected">Please slect a link to show it's statistics</p>
                             <!-- For showing statistics -->
                              <div id="linkSelected">
                                
                              </div>
                        </div>
                    </div>
                    <!-- For Showing Links -->
                    <div class="link">
                        <% history.forEach(link=> { %>
                            <div class="link-card">
                                <!-- Short Url -->
                                <div class="short-url">
                                    <p>Short URL: </p>
                                    <div class="modalTextContainer">
                                        <p>
                                            <%= `http://localhost:3000/${link.shortenedUrl}` %>
                                        </p>
                                        <i class="fa-solid fa-clone copy-icon" onclick="copyText()"></i>
                                    </div>
                                </div>
                                <!-- Original Url -->
                                <div class="original-url">
                                    <p>Original URL: </p>
                                    <h4>
                                        <%= link.originalUrl %>
                                    </h4>
                                </div>
                            </div>
                            <% }) %>
                    </div>

                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('../shared/footer') %>
            <!-- For JavaScript -->
            <Script src="/js/history.js"></Script>
</body>

</html>