<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <!--  Essential META Tags -->
    <meta property="og:title" content="<%= titel %>">
    <meta property="og:type" content="<%= type %>">
    <meta name="keywords" content=<%=keywords %>>
    <meta name="author" content="<%= author %>">
    <meta property="og:image" content="<%= image_url %>">
    <meta property="og:url" content="<%= page_url %>">
    <meta name="twitter:card" content="<%= twiter_summary %>">
    <!-- For favicon -->
    <link rel="shortcut icon" href="/images/url_logo.png" type="image/png">
    <!-- Navigation CSS -->
    <link rel="stylesheet" href="/css/navigation.css">
    <!-- Global Css -->
    <link rel="stylesheet" href="/css/global.css">
    <!-- Index CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4610789fe2.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../shared/navigation', {path: "/" }) -%>
        <main>
            <div>
                <h1>URL Shortener</h1>
                <div class="mainContainer">
                    <h1>Paste the URL to be shortened</h1>
                    <form id="formContainer" class="search-form">
                        <label for="default-search" class="search-label">Search</label>
                        <div class="search-container">
                            <input type="search" id="default-search" class="search-input"
                                placeholder="Enter the link here" required />
                            <button id="openModalBtn" type="submit" class="search-button">Shorten URL</button>
                        </div>
                    </form>
                    <p>ShortURL is a free tool to shorten URLs and generate short links <br>
                        URL shortener allows to create a shortened link making it easy to share</p>
                </div>

                <!-- Modal container -->
                <div class="modal-container" id="modal-container" style="--m-background: hsla(0, 0%, 0%, .4);">
                    <div class="modal">
                        <h1 class="modal__title">URL Shortener</h1>
                        <div class="modalTextContainer">
                            <p>http://www.asraful-alom.com/dkfjajhdhdjfhjkhsddfdsafkhkjsdnfk</p>
                            <i class="fa-solid fa-clone copy-icon" onclick="copyText()"></i>
                        </div>
                        <p>* Short URLs that do not have at least one click per month are disabled</p>
                        <button class="modal__btn" id="closeModalBtn">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('../shared/footer') %>
            <!-- For JavaScript -->
            <Script src="/js/index.js"></Script>
</body>

</html>